@import '../../colors.scss';
@import '../../sizes.scss';

.Issues {
    background-color: white;
 
}

dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}
    
