@import '../../colors.scss';

.HeaderInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
span {
    display: block;
    color: white;
}
    .Logo {
        width: 40px;
        height: 40px;
        background-image: url(../../assets/mintrud_w.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}