@import '../../colors.scss';

.AnaliticsCharts {
    height: 89%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;

    .div1 {
        grid-area: 1 / 1 / 5 / 4;
    }

    .div2 {
        grid-area: 1 / 4 / 5 / 7;
        & h5 {
            position:absolute;
        }
    }

    .div3 {
        grid-area: 5 / 1 / 7 / 7;
    }
}