$lightblue: #D7E2F6;
$blue: #1F4284;
$mainBlue: #4880FF;
$boxShadow: #23235F30;
$darkgray: #323232;
$black: #000;
$buttonBlue: #244C98;
$white: #fff;
$lightBack: #F0F4FC;
$blackShadow: #00000040;
$grayText: #727272;
$ligtBlueBackground: #EBF0FA;


