@import '../../colors.scss';

.IssuesFilter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    
    & .addBlock{
        svg {
            cursor: pointer;
        }
    }
    & .filterItem {
        display: flex;
        padding:4px;
    }
    & .filterName {
        display: block;
        width: 300px;
    }

    & .controllBox button{
        margin: 6px;
    }

}

.filterHead { grid-area: 1 / 1 / 2 / 2; }
.addBlock { grid-area: 1 / 3 / 2 / 4; justify-self: end;}
.filtersList { grid-area: 2 / 1 / 3 / 4;}
.controllBox { grid-area: 3 / 1 / 4 / 4; justify-self: end;}


