@import '../../colors.scss';

.Header {
    
    background: linear-gradient(0deg, rgba(31,66,132,1) 0%, rgba(72,128,255,1) 100%);
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 7fr 1fr;

    & h3 {
        margin: 0;
        display: block;
    }
    & span{
        color: white;
    }
    & .AuthInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        & button, span {
            display: block;
        }
    }
    
}