@import '../../colors.scss';

.Footer {
    background: linear-gradient(0deg, rgba(31,66,132,1) 0%, rgba(72,128,255,1) 100%);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h5 {
        margin: 0;

        display: block;
    }
}